<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>End Credits</title>
    <link rel="stylesheet" href="static/endcredits.css">
    <!-- Custom styles for this template by getbootstrap.com -->
    <link href="static/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>
        <div class="jumbotron">
            <h1>jQuery End Credits</h1>
            <p>
                <a class="btn btn-lg btn-success" href="#creditos" name="creditos">Open Credits</a>
            </p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <blockquote>
                    <h4>End Credits</h4>
                    <p>Closing credits or end credits are added at the end of a motion picture, television program, or video game to list the cast and crew involved in the production. They usually appear as a list of names in small type, which either flip very quickly from page to page, or move smoothly across the background or a black screen. Credits may crawl either right-to-left (common in U.K. and some Latin American television programs) or bottom-to-top (common in films and U.S. television). The term credit roll comes from the early production days when the names were literally printed on a roll of paper and wound past the camera lens. Sometimes, post-credits scenes or bloopers are added to the end of films along with the closing credits.</p>
                    <small>
                        <a href="http://en.wikipedia.org/wiki/Closing_credits">http://en.wikipedia.org/wiki/Closing_credits</a>
                    </small>
                </blockquote>
            </div>
        </div>

        <div class="footer">
            <p>some text</p>
        </div>

    </div>

    <!-- Start of Credits -->
    <div id="titles">
        <div id="credits">
            <p>{% include 'insert.html' %}</p>
        </div>
        <div class="clearfix"></div>
    </div>


    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="static/endcredits.js"></script>
</body>

</html>