<div id="the-end">Python @Corfu</div>

<br />
<h1>Cast</h1>
            <dl>
                <dt>The Cat Feeder</dt>
                <dd>...</dd>
                <dt>The Man from Corfu</dt>
                <dd>...</dd>
                <dt>The Mathematician</dt>
                <dd>...</dd>
                <dt>The Foreigner</dt>
                <dd>...</dd>
            </dl>
<h1>Programmers</h1>
            <dl>
                <dt>...</dt>
                <dd>...</dd>
                <dt>...</dt>
                <dd>...</dd>
            </dl>
            <h1>Special Thanks</h1>
            <p>Several people</p>
            <div class="clearfix"></div>

            <div class="clearfix"></div>
            <h1>Developed using</h1>
            <p>
                <!--
                <img src=".../....png">
                -->
            </p>